<% layout ('layouts/boilerplate')%>
<div class="container d-flex justify-content-center align-items-center">
  <aside>
    <details>
      <summary> <span class="btn btn-warning rounded-pill"><strong> Click Me</strong> </span></summary>
      <h1 class="text-center text-wrap fw-bold text-primary">Welcome to Online Gaming Platform Developed By:</h1>
      <h4 class="text-center fs-3 text-muted fw-bold">Salmaan Mushtaq</h4>
    </details>
  </aside>
</div>